.docBlock {
    background: #F3F4F6;
    width: 300px;
    height: 240px;
    border: 2px solid #E5E7EB;
    border-radius: 16px;
    z-index: 3;
    position: relative
}

.docBlock:hover{
    border: 3px solid #3987cf;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    
    border-radius: 0 0 12px 12px;
    height: 66.5px;
    width: 294.5px;
    margin-left: -12px;
    margin-top: -17.25%;
    background: #F9FAFB;
    z-index: 1;
    position: relative;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.thumbnail {
    margin-top: 15px;
    margin-left: 25%;
    height: 200px;
    width: 130px;
    z-index: 0;
    position: relative;
}

.anchor {
    font-family: 'Inter', sans-serif;
    color: #000000;
    text-decoration: none;
}