.header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    display: flex;
    background-color: #F3F4F6;
    padding-top: clamp(5px, 1.5%, 20px);
    padding-bottom: clamp(5px, 1.5%, 20px);
}

.logo {
    margin-left: 40%;
    scale: 1.6
}

.dashboardLink {
    font-family: Inter, Arial;
    font-size: 150%;
    margin-right: clamp(10px, 2.5%, 30px);
    margin-bottom: -0.45%;
    color: #000000;
    text-decoration: none;
}

.dashboardLink:hover {
    color: #3987cf;
}

.line {
    color: #3987cf;
    border-width: 5px;
    margin-top: 0;
    margin-bottom: 0;
}