.headerBlock {
    color: black;
    width: 100%;
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3%;
}

.headerBlock:hover p{
    color: #3987cf
}

.headerBlock:hover img{
    height: 20px;
    width: 20px;
    margin-left: 5%;
    content: url("../public/vector2.svg");
}

.container {
    width: 100%;
    display: flex;
}

.headerText {
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -0.4%;
    font-family: Inter, Arial;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.vector{
    height: 20px;
    width: 20px;
    margin-left: 5%;
    content: url("../public/vector1.svg");
}