.landing {
  color: #111827;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  font-family: Inter, Arial;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

.frame-2 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  column-gap: 41px;
  margin-bottom: 227px;
  padding: 16px 32px;
  display: flex;
}

.logo {
  width: 162px;
  height: 24px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 360px;
}

.login {
  margin-left: 360px;
}

.simplify-hardware-documentation {
  text-align: center;
  letter-spacing: -3px;
  align-self: center;
  margin-bottom: 44px;
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 80px;
}

.understanding-and-searching-thro {
  text-align: center;
  color: #6b7280;
  align-self: center;
  margin-bottom: 56px;
  font-size: 2rem;
  line-height: 38px;
}

.frame {
  color: #f9fafb;
  width: 800px;
  background-color: #f3f4f6;
  border: 3px solid #e5e7eb;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 170px;
  margin-left: 27px;
  padding: 16px 24px;
  font-size: 1rem;
  line-height: 16px;
}

.your-email-address {
  display: flex;
  color: #6b7280;
  margin-right: 120px;
}

.email-form {
  height: 45%;
  width: 100%;
  font-size: 32px;
  padding: 10px;
  background-color: #f3f4f6;
  color: #3987cf;
  outline: none;
}

.frame-1 {
  background-color: #3987cf;
  border-radius: 24px;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
  padding: 16px 24px;
  font-weight: 700;
  display: flex;
}

.request-access {
  margin-top: 7px;
  margin-bottom: 4px;
  margin-left: 1px;
}
