.header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    margin-left: 40px;
}

.dashboardLink {
    font-family: Inter, Arial;
    font-size: 1.5rem;
    margin-right:40px;
    color: #000000;
    text-decoration: none;
}

.dashboardLink:hover {
    color: #3987cf;
}

.line {
    color: #3987cf;
    border-width: 3px;
}